{% extends 'base.html.twig' %}

{% block title %}Origin index{% endblock %}

{% block body %}
    <h1>Origin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for origin in origins %}
            <tr>
                <td>{{ origin.id }}</td>
                <td>{{ origin.label }}</td>
                <td>{{ origin.city }}</td>
                <td>
                    <a href="{{ path('app_origin_show', {'id': origin.id}) }}">show</a>
                    <a href="{{ path('app_origin_edit', {'id': origin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_origin_new') }}">Create new</a>
{% endblock %}
