{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <header>
        <div class="first-div-header">
            <img class="logo" src="{{ asset('pictories/logos/ThibouIcon.png') }}" alt="thibou"/>
        </div>
        <div class="third-div-header">
            <button>Contact</button>
            <button>Compte</button>
        </div>
        <div class="second-div-header">
            <button>Menu</button>
        </div>
    </header>

<div class="main-wrapper">
    <div class="first-div-accueil">
        <h1 class="mb-3">A la poursuite de l'histoire, là où l'art prend vie.</h1>
    </div>
    <div id="carouselExampleControls" data-bs-interval="false" class="carousel slide bg-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item w-20 " data-bs-interval="3000">
                <img src="{{ asset('pictories/city.png') }}" class="d-block w-50 m-auto" alt="...">
            </div>
            <div class="carousel-item w-20 active" data-bs-interval="3000">
                <img src="{{ asset('pictories/nature.png') }}" class="d-block w-50 m-auto" alt="...">
            </div>
            <div class="carousel-item w-20" data-bs-interval="3000">
                <img src="{{ asset('pictories/newArt.png') }}" class="d-block w-50 m-auto" alt="...">
            </div>
            <div class="carousel-item w-20" data-bs-interval="3000">
                <img src="{{ asset('pictories/paysage.png') }}" class="d-block w-50 m-auto" alt="...">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="second-main-div">
        <p class="mb-5">Notre collection</p>

        <div class="first-div-tab">
            <img class="painting" src="{{ asset('pictories/tableau1.png') }}">
        </div>

        <div class="second-div-tab">
            <img class="painting" src="{{ asset('pictories/tableau2.png') }}">
        </div>
        <div class="third-div-tab">
            <img class="painting" src="{{ asset('pictories/tableau3.png') }}">
        </div>




    </div>
</div>
{% endblock %}
