{% extends 'base.html.twig' %}

{% block title %}Transport{% endblock %}

{% block body %}
    <h1>Transport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transport.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ transport.label }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transport.date ? transport.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ transport.mode }}</td>
            </tr>
            <tr>
                <th>Name_transporter</th>
                <td>{{ transport.nameTransporter }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transport_index') }}">back to list</a>

    <a href="{{ path('app_transport_edit', {'id': transport.id}) }}">edit</a>

    {{ include('transport/_delete_form.html.twig') }}
{% endblock %}
