{% extends 'base.html.twig' %}

{% block title %}Art index{% endblock %}

{% block body %}
    <h1>Art index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>Height</th>
                <th>Artist</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for art in art %}
            <tr>
                <td>{{ art.id }}</td>
                <td>{{ art.label }}</td>
                <td>{{ art.description }}</td>
                <td>{{ art.height }}</td>
                <td>{{ art.artist }}</td>
                <td>{{ art.price }}</td>
                <td><img src="{{ asset('uploads/arts/' ~ art.imageFile) }}" alt="test"></td>
                <td>
                    <a href="{{ path('admin_art_show', {'id': art.id}) }}">show</a>
                    <a href="{{ path('admin_art_edit', {'id': art.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_art_new') }}">Create new</a>
{% endblock %}
